---
---

@import "{{ site.theme }}";

body {
  display: flex;
  flex-wrap: wrap;
}

nav {
  margin: 1rem;
  max-width: 20rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0.8em;
}

nav ul {
  margin: 0;
}

nav h3 {
  margin: 0
}

nav a {
  color: #b6c6d9;
}

.main-content {
  display: inline-block;
  vertical-align: top;
  flex: 1;
}
