---
---

@import "{{ site.theme }}";

nav {
  float: left;
  margin: 1rem;
  max-width: 20rem;
  display: inline-block;
  vertical-align: top;
}

.main-content {
  display: inline-block;
  vertical-align: top;
}
